body {
  font-family: "Poppins", sans-serif;
  background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(black),
      to(rgb(26, 62, 65))
    )
    fixed;
  color: rgb(255, 255, 255);
  overflow-x: hidden;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50px;
  position: fixed;
  padding: 20px;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}
.second-section {
  display: flex;
  gap: 40px;
  font-size: 15px;
  font-weight: 500;
  list-style: none;
}

.first-section {
  font-weight: bolder;
  color: rgb(0, 0, 0);
  font-size: 40px;
  color: white;
}

.club-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  row-gap: 50px;
  margin-left: 170px;
  margin-top: 130px;
}

.club {
  width: 150px;
  padding: 1.5rem;
  position: relative;
  box-shadow: 0 0 10px rgb(116, 112, 112);
  border-radius: 10px;
  margin-bottom: 10px;
}

.club > img {
  width: 150px;
  height: 150px;
  object-fit: contain;
}

.club-desc {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgb(255, 255, 255);
  opacity: 0.75;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: 0.5s ease;
  border-radius: 10px;
}

.club:hover .club-desc {
  height: 100%;
}

.club-desc > h1 {
  width: 100%;
  margin-top: 20px;
  color: rgb(0, 0, 0);
  font-size: 2vw;
  position: absolute;
  text-align: center;
  transform: rotate(-5deg) skewX(-5deg);
}

.club-desc > p {
  text-align: center;
  font-family: "Roboto", sans-serif;
  color: rgb(255, 255, 255);
  width: 70%;
  margin: 40% 0 0 18%;
  font-size: 1vw;
  font-weight: 500;
  letter-spacing: 5px;
  line-height: 1.2rem;
}

.club-profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80px;
  position: absolute;
  margin: 50% 0 0 31%;
}
.linkedin-logo {
  width: 30px;
  height: 30px;
  border-radius: 4px;
}

.instagram-logo {
  width: 35px;
  border-radius: 4px;
}

.login-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 90px;
  gap: 40px;
}

.login-title {
  font-size: 100px;
  margin: 0;
  color: white;
  text-align: center;
}

.login-button {
  border: none;
  letter-spacing: 1px;
  border-radius: 15px;
  padding: 10px 100px;
  font-size: 20px;
  cursor: pointer;
  background-color: rgb(255, 255, 255);
  border: 4px solid black;
  color: rgb(0, 0, 0);
}
.login-button:hover {
  border: 4px solid rgb(112, 112, 112);
}

.about-us-container {
  width: 95%;
  height: 100vh;
  margin-top: -30px;
  margin-left: 30px;
  position: relative;
  border: 2px solid rgba(43, 229, 184, 1);
  border-radius: 27px;
}

.about-us-desc {
  position: absolute;
  width: 400px;
  top: 100px;
  left: 20%;
}

.about-us-desc > h1 {
  font-size: 40px;
  color: rgb(210, 210, 188);
  font-family: "Poppins", sans-serif;
  margin-bottom: 0;
}
.about-us-desc > p {
  margin: 0;
  padding: 0;
}
.linkedin-logo1 {
  width: 25px;
  height: 25px;
  border-radius: 4px;
}

.instagram-logo1 {
  width: 28px;
  border-radius: 4px;
}

.follow-us {
  display: flex;
  align-items: center;
  gap: 20px;
}

.follow-us > p {
  font-family: "Damion", cursive;
  font-size: 20px;
}

.mail-link {
  text-decoration: none;
  color: red;
  font-size: 13px;
  cursor: pointer;
}

.mail-link:active {
  color: blue;
}
.contact {
  position: absolute;
  width: 300px;
  height: 290px;
  top: 130px;
  right: 17%;
  border-radius: 27px;
  background: rgba(28, 83, 83, 1);
}

.contact > h2 {
  margin-left: 20px;
  font-size: 30px;
}

.about-us-bottom-section {
  width: 90%;
  height: 150px;
  bottom: 10px;
  position: absolute;
  left: 71px;
  border-radius: 27px;
  background: rgb(33, 101, 101);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.about-us-bottom-section > div > p {
  font-size: 13px;
}

.about-us-bottom-section .vertical-bar {
  height: 80%;
  width: 4px;
  background-color: white;
}

.bookslot-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  height: 400px;
  gap: 20px;
  width: 350px;
  margin: auto;
}

.bookslot-button {
  border: none;
  border-radius: 5px;
  padding: 10px 30px;
  font-size: 15px;
  cursor: pointer;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  font-weight: 600;
  position: absolute;
  right: 20px;
  bottom: 10px;
}

.logout-button {
  border: none;
  border-radius: 5px;
  padding: 8px 30px;
  font-size: 15px;
  cursor: pointer;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

.bookslot-button:hover,
.logout-button:hover {
  background-color: rgb(91, 88, 88);
  color: white;
  border: none;
}
.bookslot-section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 800px;
  height: 400px;
  margin: auto;
  margin-top: 120px;
  border: 2px solid rgba(43, 229, 184, 1);
  padding: 25px;
  position: relative;
  border-radius: 17px;
}

.username {
  font-size: 30px;
}

.username-span {
  font-size: 30px;
  color: rgb(255, 167, 4);
  text-wrap: nowrap;
}
.book-span {
  font-size: 20px;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 25px;
  justify-content: space-between;
  margin-top: -20px;
}

.input-container > div > label {
  font-weight: 600;
  font-size: 20px;
  line-height: 45.99px;
  color: white;
}

.input-container > div {
  display: flex;
  align-items: center;
}

.choose-event {
  gap: 83px;
}
.choose-club {
  gap: 40px;
}
.choose-hall {
  gap: 23px;
}
.choose-date {
  gap: 40px;
}
.choose-time {
  gap: 40px;
}

.choose-event > input {
  box-shadow: 0px 0px 3.800000190734863px 0px rgba(0, 0, 0, 1);
  background: linear-gradient(180deg, #00ffd1 0%, #139cff 100%);
  height: 38px;
  width: 250px;
  border-radius: 18px;
  border: none;
  text-indent: 18px;
}

::placeholder {
  color: black;
  opacity: 1;
}

.choose-club > select {
  box-shadow: 0px 0px 1.800000190734863px 0px rgba(0, 0, 0, 1);
  background: linear-gradient(180deg, #00ffd1 0%, #139cff 100%);
  height: 40px;
  width: 250px;
  border-radius: 18px;
  text-indent: 15px;
  border: none;
}
.choose-hall > select {
  box-shadow: 0px 0px 1.800000190734863px 0px rgba(0, 0, 0, 1);
  background: linear-gradient(180deg, #00ffd1 0%, #139cff 100%);
  height: 40px;
  width: 250px;
  border-radius: 18px;
  text-indent: 14px;
  border: none;
}
.choose-date > input {
  box-shadow: 0px 0px 1.800000190734863px 0px rgba(0, 0, 0, 1);
  background: linear-gradient(180deg, #00ffd1 0%, #139cff 100%);
  height: 40px;
  width: 250px;
  border-radius: 18px;
  border: none;
  text-indent: 10px;
}
.choose-time > select {
  box-shadow: 0px 0px 1.800000190734863px 0px rgba(0, 0, 0, 1);
  background: linear-gradient(180deg, #00ffd1 0%, #139cff 100%);
  height: 40px;
  width: 250px;
  border-radius: 18px;
  text-indent: 15px;
  border: none;
}

.print-success {
  margin: 40px;
  display: inline-block;
  position: absolute;
  width: 200px;
  height: 80px;
  bottom: 50px;
  right: -150px;
  background-color: lightyellow;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  color: black;
  font-family: "Ubuntu-Italic", "Lucida Sans", helvetica, sans;
}

.print-success::before {
  content: " ";
  position: absolute;
  width: 0;
  height: 0;
  left: -8px;
  right: auto;
  top: auto;
  bottom: -40px;
  border: 1px solid;
  border-color: transparent transparent transparent #666;
}

.print-success::after {
  content: " ";
  position: absolute;
  width: 0;
  height: 0;
  left: 0px;
  right: auto;
  top: auto;
  bottom: -20px;
  border: 22px solid;
  border-color: transparent transparent transparent lightyellow;
}

.print-success > p {
  padding: 1em;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  font-size: 15px;
}

.event-section {
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 50px;
  margin-left: 120px;
  gap: 25px;
}

.event-container {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 200px;
  top: 130px;
  right: 17%;
  border-radius: 27px;
  background: rgb(23, 63, 63);
  justify-content: center;
}

.event-container > p {
  margin: 5px;
  margin-left: 16px;
}

.no-event-title {
  text-align: center;
  margin-top: 200px;
  font-size: 50px;
}

.booknow-container {
  width: 700px;
  height: 400px;
  top: 269px;
  left: 135px;
  border-radius: 31px;
  background-color: rgba(28, 83, 83, 1);
  margin: auto;
  margin-top: 120px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.booknow-container .vertical-bar {
  width: 2px;
  height: 100%;
  background-color: rgb(168, 162, 162);
}

.booknow-second-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.booknow-second-section > button {
  padding: 10px 30px;
  background: rgba(255, 255, 255, 1);
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.booknow-second-section > button:hover {
  background: rgb(173, 168, 168);
}

.booknow-first-section {
  align-self: flex-start;
  font-size: 30px;
  line-height: 60px;
  overflow-wrap: break-word;
  max-width: 400px;
}
