body {
  font-family: "Poppins", sans-serif;
  width: 100vw;
  height: 100vh;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  background-position: center;
  background-size: cover;
  overflow-x: hidden;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50px;
  position: fixed;
  padding: 20px;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background-color: rgb(0, 0, 0);
}
.second-section {
  display: flex;
  gap: 40px;
  font-size: 15px;
  font-weight: 500;
  list-style: none;
}

.first-section {
  font-weight: bolder;
  color: rgb(0, 0, 0);
  font-size: 40px;
  -webkit-text-stroke: 1px aqua;
}

.club-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  row-gap: 50px;
  margin-left: 170px;
  margin-top: 130px;
}

.club {
  width: 150px;
  padding: 1.5rem;
  position: relative;
  box-shadow: 0 0 10px rgb(116, 112, 112);
  border-radius: 10px;
  margin-bottom: 10px;
}

.club > img {
  width: 150px;
  height: 150px;
  object-fit: contain;
}

.club-desc {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgb(255, 255, 255);
  opacity: 0.75;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: 0.5s ease;
  border-radius: 10px;
}

.club:hover .club-desc {
  height: 100%;
}

.club-desc > h1 {
  width: 100%;
  margin-top: 20px;
  color: rgb(0, 0, 0);
  font-size: 2vw;
  position: absolute;
  text-align: center;
  transform: rotate(-5deg) skewX(-5deg);
}

.club-desc > p {
  text-align: center;
  font-family: "Roboto", sans-serif;
  color: rgb(255, 255, 255);
  width: 70%;
  margin: 40% 0 0 18%;
  font-size: 1vw;
  font-weight: 500;
  letter-spacing: 5px;
  line-height: 1.2rem;
}

.club-profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80px;
  position: absolute;
  margin: 50% 0 0 31%;
}
.linkedin-logo {
  width: 30px;
  height: 30px;
  border-radius: 4px;
}

.instagram-logo {
  width: 35px;
  border-radius: 4px;
}

.login-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 900px;
  height: 400px;
  height: auto;
  margin: auto;
  padding: 0px;
  margin-top: 90px;
}

.login-image {
  width: 100%;
  position: relative;
  left: 130px;
  top: -70px;
}

.login-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  position: absolute;
  top: 170px;
  left: -220px;
}

.login-title {
  font-size: 100px;
  margin: 0;
  background: -webkit-linear-gradient(rgb(179, 58, 58), #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.login-button {
  border: none;
  letter-spacing: 2px;
  font-weight: bold;
  border-radius: 5px;
  padding: 10px 50px;
  font-size: 15px;
  cursor: pointer;
  background-color: rgb(82, 79, 79);
}
.login-button:hover {
  background-color: rgb(255, 255, 255);
}

.about-us-container {
  width: 55%;
  height: 100vh;
  background-image: url(./images/about-us6.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}

.about-us-desc {
  position: absolute;
  width: 400px;
  top: 150px;
  right: -400px;
}

.about-us-desc > h1 {
  font-size: 40px;
  color: yellow;
  font-family: "Poppins", sans-serif;
}
.linkedin-logo1 {
  width: 25px;
  height: 25px;
  border-radius: 4px;
}

.instagram-logo1 {
  width: 28px;
  border-radius: 4px;
}

.follow-us {
  display: flex;
  align-items: center;
  gap: 20px;
}

.follow-us > p {
  font-family: "Damion", cursive;
  font-size: 20px;
}

.mail-link {
  text-decoration: none;
  color: red;
  font-size: 13px;
  cursor: pointer;
}

.mail-link:active {
  color: blue;
}

.bookslot-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  height: 400px;
  gap: 20px;
  width: 350px;
  margin: auto;
}

.bookslot-button {
  border: none;
  border-radius: 5px;
  padding: 10px 30px;
  font-size: 15px;
  cursor: pointer;
  background-color: rgb(0, 0, 0);
  color: white;
}

.logout-button {
  border: none;
  border-radius: 5px;
  padding: 10px 30px;
  font-size: 15px;
  cursor: pointer;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

.bookslot-button:hover,
.logout-button:hover {
  background-color: rgb(91, 88, 88);
  border: none;
}
.bookslot-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 800px;
  height: 400px;
  margin: auto;
  margin-top: 120px;
  background-color: rgb(223, 217, 217);
  color: black;
}

.bookslot-first-section {
  display: flex;
  justify-content: center;
  width: 300px;
  height: 400px;
}

.username {
  font-size: 30px;
}

.username-span {
  font-size: 30px;
  color: rgb(255, 167, 4);
  text-wrap: nowrap;
}
.book-span {
  font-size: 20px;
}

.bookslot-second-section {
  width: 600px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: space-between;
  border-radius: 8px;
  padding: 20px;
}

.input-container > div > label {
  font-size: 12px;
}

.choose-club {
  display: flex;
  justify-content: space-around;
}
.choose-club > select {
  width: 64%;
  border-radius: 5px;
  border: none;
  background-color: rgb(163, 162, 162);
}

.choose-hall {
  display: flex;
  justify-content: space-around;
}
.choose-hall > select {
  width: 70%;
  border-radius: 5px;
  border: none;
  background-color: rgb(163, 162, 162);
}

.choose-date {
  display: flex;
  justify-content: space-between;
  gap: 36px;
}
.choose-date > input {
  width: 100%;
  border-radius: 5px;
  border: none;
  background-color: rgb(163, 162, 162);
}

.choose-time {
  display: flex;
  justify-content: space-around;
  gap: 38px;
}
.choose-time > input {
  width: 100%;
  border-radius: 5px;
  border: none;
  background-color: rgb(163, 162, 162);
}
